<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>googlePlacesAPIKey</key>
	<string>AIzaSyApepIauHbA7j2pDelbwtPkMgZ8pz5gfRk</string>
	<key>ConversationWorkspaceID</key>
	<string>64c6b9de-1af9-4b7b-b29f-46c19f4b8066</string>
	<key>ConversationUsername</key>
	<string>6454a131-7e12-4c9a-97fa-2c9b14317d9f</string>
	<key>ConversationPassword</key>
	<string>XHZVJSPUPKAV</string>
	<key>ConversationVersion</key>
	<string>2016-08-17</string>
	<key>TextToSpeechUsername</key>
	<string>1524f0ad-e062-4f56-ac1d-999ce8e68989</string>
	<key>TextToSpeechPassword</key>
	<string>diw6RR6OKToV</string>
	<key>SpeechToTextUsername</key>
	<string>a2fb0810-f794-4369-afdc-7cf5b6712e8a</string>
	<key>SpeechToTextPassword</key>
	<string>BkTmmB03wIek</string>
</dict>
</plist>
